.container-main{
    width: 100%;
    height: 100vh;
    background-color: #6989aa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center_div {
    width: 25%;
    height: 80vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.center_div h1{
    color: white;
    background: transparent;
    background-color: #8566aa;
    padding: 6px 0 2px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}
/* .input{
    color: #8566aa;
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline: none;
} */
.input-container{
    border: solid 2px rgb(121, 22, 22);
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 25px;
}
.data{
    border: solid 2px #8566aa;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}
.location{
    padding: 5px;
    margin: 15px;
    border: solid 2px;
    border-radius: 10pc;
}
.temp{
    padding: 5px;
    margin: 15px;
    border: solid 2px;
    border-radius: 10pc;
}
.info h3{
    color: rgb(172, 155, 155);
    padding: 20px;
}
.info h4{
    color: rgb(122, 104, 104);
    padding: 20px;
}
i{
    background-color:#8566aa;
}