.header{
    /* position: fixed; */
    display: flex;
    text-align: center;
     justify-content: space-between;
     
}
.header-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position:absolute; */
  
}
.header-list ul li{
    text-decoration: none;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
    
 }
 
.logo h1 span{
    font-size: 45px;
    font-weight: bold;
    color: red;
}